<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bd.edu.daffodilvarsity.classorganizer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Wakelock permission for new JobIntentService -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".ClassOrganizer"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:hardwareAccelerated="true"
            android:label="@string/main_title"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EditActivity"
            android:label="@string/edit_title" />
        <activity
            android:name=".activity.AddActivity"
            android:label="@string/add_title" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/settings_title"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.DayDataDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bd.edu.daffodilvarsity.classorganizer.activity.MainActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="97134746f7e815b6aad25190b01c4712d2c523ec" />

        <activity android:name=".activity.SearchActivity" />

        <service
            android:name=".service.NotificationRestartJobIntentService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".receiver.NotificationPublisher"
            android:enabled="true" />
        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.SearchRefinedActivity"
            android:label="Search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.BaseActivity"></activity>
    </application>

</manifest>